<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu" id="left-side-menu-container">

        <!-- LOGO -->
        <a href="index.html" class="logo text-center">
            <span class="logo-lg">
                <img src="assets/images/logo.png" alt="" height="32">
            </span>
            <span class="logo-sm">
                <img src="assets/images/logo_sm.png" alt="" height="32">
            </span>
        </a>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">

            

            <li class="side-nav-item">
                <a href="index.html" class="side-nav-link">
                    <i class="dripicons-meter"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="clients.html" class="side-nav-link">
                    <i class="dripicons-view-apps"></i>
                    <span> Clients </span>
                </a>
               
            </li>
            
            <li class="side-nav-item">
                <a href="client-attorneys.html" class="side-nav-link">
                    <i class="dripicons-copy"></i>
                    <span> Client Attorneys </span>
                </a>
                
            </li>

            <li class="side-nav-item">
                <a href="lead-attorneys.html" class="side-nav-link">
                    <i class="dripicons-copy"></i>
                    <span> Lead Attorneys </span>
                </a>
                
            </li>

            <li class="side-nav-item">
                <a href="matters.html" class="side-nav-link">
                    <i class="dripicons-browser"></i>
                    <span> Matters </span>
                </a>
               
            </li>


            <li class="side-nav-item">
                <a href="invoices.html" class="side-nav-link">
                    <i class="dripicons-briefcase"></i>
                    <span> Invoices </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="true">
                    <li>
                        <a href="ui-cards.html">Create Invoice</a>
                    </li>
                   
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="payments.html" class="side-nav-link">
                    <i class="dripicons-document"></i>
                    <span> Payments </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="true">
                    <li>
                        <a href="form-elements.html">Receive Payment</a>
                    </li>
                </ul>
            </li>

            
        </ul>

        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->